#wrapper {
    width: 1000px;
    margin: auto;
}

#header{
    background-color: #000000;

    /*background-color: #3c1015;*/
    height: 200px;
}
.headerText{
    padding-top: 80px;
    padding-left: 30px;
    color: white;
    font-family: "Baskerville Old Face";

}
#image{
    width: auto;
    height: 200px;

}

#headerLeft{
 float: left;
}
#headerRight{
    float: right;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #430d15;
}

.ul2{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #535353;
    margin-top: -15px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#oblig1{
    width: 700px;
    position: center;
    margin-top: 50px;
    margin-left: 20px;
}
.circle{
    border-radius: 50%;
    margin-top: 50px;
}

.circleStyle {
    width: 200px;
    height: 200px;
    background: white;
    border: 1px solid grey;
}
hr {
    border: 2px solid black;
}
#circleText{
    margin-top: 75px;
    margin-left: 75px;
}